[Unit]
Description=Start MBot Networking
After=multi-user.target

[Service]
PIDFile = /run/mbot_start_net.pid
ExecStart=/usr/local/etc/mbot_start_networking.py --PIDFile /run/mbot_start_net.pid
Restart=never
User=root

[Install]
WantedBy=graphical.target

